extends layout

block content	
	div.container
		div.row
			div.span8
				h1 Twittcher
			div.span4
				form.form-inline(method="post")
					input.input-small(type="text", name="username", placeholder="Username")
					b 
					input.input-small(type="password", name="password", placeholder="Password")
					b 
					button.btn.btn-primary(type="submit")
						i.icon-home.icon-white
						b  Sign in

		hr
			
		div.row
			div.span3
				img.img-polaroid(src="http://placehold.it/200x250")
				hr
				table.table.table-striped
					tbody	
						tr
							td Nickname:
							td Pika
						tr
							td Sex:
							td Male
						tr
							td Age
							td 23
			div.span9
					ul.nav-tabs.nav
						li.active
							a(href="/wall") Wall
						li
							a(href="/search") Search

					div.wPost
						img.img-polaroid.wIMargin(src="http://placehold.it/100x125")
						textarea(rows="4", name="postbox")
						a.btn.btn-primary.XBTN(type="button", name="Bpost")
							h1 Post
					div.wPost
						img.img-polaroid.wIMargin(src="http://placehold.it/100x125")
						
		div.row
			div.span12.red Footer