extends topbar
block content
	div.row
		div.span2
		div.span6
			
			h1.titW This is Twittcher !
			br
			p.titW Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			a.btn.btn-primary.btn-large(role="button", href="#myModal", data-toggle="modal")
				i.icon-home.icon-white
				b  Register

			#myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
				div.modal-header
					button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
					h3(id="myModalLabel") Registration
				div.modal-body
					form.form-horizontal(method="post", enctype="multipart/form-data", action="regIT")
						div.control-group
							label.control-label(for="R_email") Email:
							input.input-small(id="logPass", type="text", name="R_email", placeholder="Email")
						div.control-group
							label.control-label(for="R_username") Username:
							input.input-small(id="logName", type="text", name="R_username", placeholder="Username")
						div.control-group
							label.control-label(for="R_password") Password:
							input.input-small(id="logPass", type="password", name="R_password", placeholder="Password")
						div.control-group
							label.control-label(for="R_password2") Repeat Password:
							input.input-small(id="logPass", type="password", name="R_password2", placeholder="Password")
						div.control-group
							label.control-label(for="R_picture") Upload Image
							input(type="file", name="R_picture")
						div.control-group
							button.btn.btn-primary(type="post")
								b Registrate
						- if(regError != 0)
							div.control-group
								span.red #{regError}
						
						

				div.modal-footer
					button.btn(data-dismiss="modal", aria-hidden="true") Close

					
script
	if(regError != 0){
		$('#myModal').modal('show');
		console.log("bla");
	}