extends topbar
block content
		div.row
			div.span3
				- if(item.picture)
					img.img-polaroid(src="/pictures/p_#{item.name}.jpg", height="250", width="200")
				- else
					img.img-polaroid(src="http://placehold.it/200x250")
				hr
				table.table.table-striped
					tbody	
						tr
							td Nickname:
							td #{item.name}
						tr
							td Email:
							td #{item.email}
						tr
							td Sex:
							td Male
						tr
							td Age
							td 23
				- if(username == item.name)
					form.form-inline(method="post", action="delete/profil/#{item._id}")
						button.btn.btn-primary(type="submit")
							b Delete Profil
			#Content
				block wall