extends topbar
block content
		div.row
			div.span3
				img.img-polaroid(src="http://placehold.it/200x250")
				hr
				table.table.table-striped
					tbody	
						tr
							td Nickname:
							td Pika
						tr
							td Sex:
							td Male
						tr
							td Age
							td 23
			div.span9
				ul.nav-tabs.nav(id="myTab")
					li.active
						a(href="/profil/username/wall") Wall
					li
						a(href="/profil/username/search") Search
					li
						a(href="/profil/username/profiles") Profiles				
				
				div
					block wall