extends layout
block header
		div.navbar.navbar-inverse.navbar-fixed-top.topBar
			div.navbar-inner
				div.container
					div.row
							#twitt.span8
								img.img-polaroid(src="http://placehold.it/200x100")
							div.loginBar.span4
								loggedvariable = 0
							#loginForm
								form.form-inline(method="post")
										input.input-small(id="logName", type="text", name="username", placeholder="Username")
										| 
										input.input-small(id="logPass", type="password", name="password", placeholder="Password")
										|  
										button.btn.btn-primary(type="button", onclick="ajxLog()")
											i.icon-home.icon-white
											b  Sign in
											
								
		div.bla		
			div.container
				hr
				block content
					
				div.row
					div.span12
						hr
						div Copyright © Twittcher #{+new Date().getFullYear()} 
						a(href='/page?name=about') About 
						| |  
						a(href='/page?name=contact') Contact Us