extends layout
block header
		div.navbar.navbar-inverse.navbar-fixed-top.topBar
			div.navbar-inner
				div.container
					div.row
							#twitt.span7
								a(href="/")
									img(src="/images/Twittcher.jpg")
							div.loginBar.span1
								loggedvariable = 0
							- if(!username)
								#loginForm
										form.form-inline(method="post")
												input.input-small(id="logName", type="text", name="username", placeholder="Username")
												| 
												input.input-small(id="logPass", type="password", name="password", placeholder="Password")
												|												
												button.btn.btn-primary(type="post", data-loading-text="Logging in...")
													i.icon-home.icon-white
													b  Sign in
											- if(logError != 0)
												span.red #{logError}
							- else
								form.form-horizontal(method="post")
									p Hello #{username}
									a.btn.btn-primary(href="/profil/#{username}")
										i.icon-home.icon-white
										b  Profil
									a.btn.btn-primary(href="/logout")
										b Logout

											
								
		div.bla		
			div.container
				hr
				block content
					
				div.row
					div.span12
						hr
						div Copyright © Twittcher #{+new Date().getFullYear()} 
						a(href='/page?name=about') About 
						| |  
						a(href='/page?name=contact') Contact Us