//// Std Settings
body
	padding: 0px
	font-family: 'Titillium Web', sans-serif
	background-color: #f5f5f5
a
	color: #00B7FF

hr
	color: #000
	background-color: #000
	height: 1px
	
textarea
	position: relative
	resize: none

//// Divs
// Static


// Classes

.topBar
	opacity: 0.8


.wPost
	position: relative
	height: auto
	width: auto
	margin: 2%
	padding:2%
	border-radius: 3px
	background-color: #eee
	padding-top:2%


//// Other


.btnX
	position: relative
	height: 40px
	border-top-left-radius: 5px
	border-bottom-left-radius: 5px
	border-top-right-radius: 5px
	border-bottom-right-radius: 5px


//// Tests

.red
	color: red
	background-color: blue


.left
	margin-left: 5%

.bla
	margin-top: 180px
	
.loginBar
	margin-top:24px