extends ../profil
block wall
	div.row
		ul.thumbnails
			
					
				- for(var i = 0; i < profiles.length; i++)
					li.span2
						div.thumbnail
							a(href="/profil/#{profiles[i].name}")
								img(src="/pictures/#{profiles[i].picture}")
								h4 #{profiles[i].name}