extends ../profil
block wall
					div.wPost
						img.img-polaroid.wIMargin(src="http://placehold.it/100x125")
						textarea(rows="4", name="postbox")
						button.btn.btn-primary.XBTN(type="button", onclick="loginChecker()")
							h1 Post
		script
			$("#myTab a[href='/search']").addClass("active");
			//(href="/wall")
			
			in funktion schreiben // body onload